/vendor/
/.env
/.env.testing

/storage/uploads/*
!/storage/uploads/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/mail/*
!/storage/mail/.gitkeep
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/testing.sqlite

.phpunit.result.cache
.phpunit.cache/
.phpunit.coverage.cache
/coverage/
.phpstan/

/.idea/

.DS_Store
